<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Resolution Tracker</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
      <nav class="nav">
        <ol>
            <% if (user) { %>
                <li><a href="/resolutions">All Resolutions</a></li>
                <li><a href="/logout">Log Out</a></li>
            <% } else { %>
                <li><a href="/auth/google">Login with Google</a></li>
            <% } %>
          </li>
        </ol>
      </nav>
<main>
<h1>welcome to resolution tracker</h1>
</main>
</body>
</html>
