
.home-page {
  background-image: url("https://i.imgur.com/QCq76cp.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  margin-top: 40px;

}
body {
  margin-top: 0px;
  padding: 0;
  background: #F9E7E7;
}

.nav-home {
  display: flex;
  justify-content: center;
}

.nav-home a{
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  display: inline-block;
  margin-right: 20px;
  text-decoration: none;
  color: #403D39;
}

.nav a {
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  display: inline-block;
  margin-right: 20px;
  text-decoration: none;
  color: #403D39;
}
 
.nav a:hover {
  background-color: #EB5E28;
}
 
.nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}

.logout{
  float: right;
}

main {
  display: flex;
  justify-content: center;
}