<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Resolution Tracker</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav class="nav">
          <a href="/resolutions">All Resolutions</a>
          <a href="/resolutions/new">New Resolution</a>
            <% if (user) { %>
                <a class="logout" href="/logout">Log Out</a>
            <% } else { %>
                <a href="/auth/google">Login with Google</a>
            <% } %>
      </nav>
<section id="edit-page">
    <div><%= resolution.text %></div>
    <form action="/resolutions/<%=resolution._id%>?_method=PUT" method="POST" autocomplete="off">
        <input type="text" name="text" value="<%= resolution.text %>">
        <button type="submit">Save Resolution</button>    
    </form>
    <textarea name="content"></textarea>
    <input type="submit" value="Add Comment">
</section>
</body>
</html>