<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>List of ur resolutions</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
      <nav class="nav">
          <a href="/resolutions">All Resolutions</a>
          <a href="/resolutions/new">New Resolution</a>
            <% if (loggedInUser) { %>
              <a class="logout" href="/logout">Log Out</a>
            <% } else { %>
              <a href="/auth/google">Login with Google</a>
            <% } %>
      </nav>
      <main>
        <div>
          <div id="users">
            <% users.forEach(function(user) { %>
                <div class="resList">
                  <div>
                      <span>Resolutions by <%= user.name %></span>
                  </div>
                  <ul>
                    <% user.resolutions.forEach(function(resolution) { %>
                      <li><%= resolution.text %> </br>
                      <a href="/resolutions/<%=resolution._id%>">Details</a></li>
                    <% }) %>
                  </ul>
                </div cl>
            <% }) %>
          </div>
        </div>
      </main>
</body>
</html>